{% raw %}
<!DOCTYPE html>

<html lang="en" ng-app="qualCheckApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

	<title>Quality Check Sample</title>
</head>
<body ng-controller="MainController">

    <div class="row">
        <div class="col-md-6">
            <button class="btn" ng-click="addProduct()">Add Product</button>
            <button class="btn pull-right" ng-click="submitProducts()">Submit</button>
            <div class="well" ng-repeat="product in products">
                <button type="button" class="close" ng-click="removeProduct(product)"><span aria-hidden="true">&times;</span></button>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input ng-model="product.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <span class="pull-right"><span class="label label-danger">Severity</span>
                             Missing: 10, Has-Whitespace: 1
                        </span>
                        <label for="title">Title</label>
                        <input ng-model="product.title" type="text" class="form-control" id="title" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <span class="pull-right"><span class="label label-danger">Severity</span>
                            Missing: 10
                        </span>
                        <label for="desc">Description</label>
                        <textarea ng-model="product.description" class="form-control" id="desc" placeholder="Enter description"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ng-cloak" ng-if="responseData">
                <span class="label label-info">Objects validated</span> {{ responseData.objects_tested }}<br>
                <span class="label label-default">Checks ran</span> {{ responseData.checks_ran }}<br>
                <span class="label label-success">Checks passed</span> {{ responseData.checks_passed }}<br>
                <span class="label label-danger">Checks failed</span> {{ responseData.checks_failed }}<br><br>

                <span class="label label-warning">Was threshold reached?</span> {{ responseData.was_email_sent ? "Yes" : "No" }}<br>

                <div class="well" ng-repeat="product in responseData.products_with_errors">
                    <p>Title: {{ product.title || "-- missing --"}}</p>
                    <p>Description: {{ product.description || "-- missing --"}}</p>

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Error messages</h3>
                        </div>
                        <div class="panel-body">
                           <p ng-repeat="error in product.errors">
                               {{ error }}
                           </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/angular.min.js"></script>
    <script src="/static/qual.js"></script>
</body>
{% endraw %}